<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>
    <body>
        <h1>Tika Chatbot - 
            <a href="https://hocvien.tiki.vn/" title="For more information" target="_blank">
                For more information
            </a>
        </h1>
        <span style="font-style:italic">Created by thanh.bui4, and amazing PM tra.tran1. This project is purely for fun and has no connection to TIKI.</span>
        <div>
        <div id="chatbox">
            <p class="botText">
                <span>Hello | Bonjour | Привет | Xin chào. Mình là Tika - Chatbot chuyên giải đáp các thắc mắc của nhà bán trên TIKI.</span>
                
            </p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" value="Send">
        </div>
        <script>
            $(document).ready(function() {
                function getBotResponse() {
                    var rawText = $('#textInput').val();
                    var userHtml = '<p class="userText">' + rawText + '</p>';
                    $('#textInput').val("");
                    $('#chatbox').append(userHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                    $.get("/getChatBotResponse", { msg: rawText }).done(function(data) {
                        response = data.response;
                        sources = data.sources;
                        var botHtml = '<p class="botText">' + response + '</p>';
                        var linkHtml = '';
                        for (let source of sources){
                            if (source != null){
                                linkHtml += '<li>' + source + '</li>';
                            }
                        }
                        linkHtml = '<p class="botText"><ol>Tham khảo thêm ở đây nha: ' + linkHtml + '</ol></p>';
                        $("#chatbox").append(botHtml);
                        $("#chatbox").append(linkHtml);
                        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                    });
                }
                $('#textInput').keypress(function(e) {
                    if(e.which == 13) {
                        getBotResponse();
                    }
                });
                $('#buttonInput').click(function() {
                    getBotResponse();
                })
            });  
        </script>
        </div>
    </body>
</html>